repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--exit-non-zero-on-fix"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        additional_dependencies:
          - types-PyYAML>=6.0.12.20240917
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest --maxfail=1 --disable-warnings
        language: system
        types: [python]
        pass_filenames: false
